html {
	height: 100%;
	_height:100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	_height:100%;
	background-color: whitesmoke;
}
.main{
	width:100%;
	margin:auto;
	height:100%;
	_height:100%;
	border-bottom:0px solid black;
	background:whitesmoke;
}
.top{
	width:100%;
	height:7%;
	background-color: rgba(0,0,0,0.7);
	overflow: auto;
}

div{margin: 0;padding: 0;}
.top .system_title{
	border: 0px solid white;
	width: 70%;
	float: left;
	height: 40px;
	margin: 5px 10px 2px 20px;
	font-size: 30px;
/* 	line-height:30px; */
	color: white;
	font-family: microSoft Yahei;
	overflow: hidden;
	text-shadow: 2px 1px 1px #ccc;
}
.top .user_info{
	width: 20%;
	border: 0px solid white;
	float: right;
	height: 25px;
	margin: 10px 20px 2px 20px;
	text-align: right;
	color: white;
	font-family: microSoft Yahei;
	font-size: 14px;
	line-height:20px;
	
}
.top .user_info a{
	display: inline;
	color: white;
	text-decoration: none;
}
.top .user_info a:hover{
	text-decoration: underline;
}

.middle{
	width:100%;
	min-height:82%;
	height:auto!important;
	background:whitesmoke;
}
.left{
	width:15%;
	height:auto;
	float:left;
	overflow: auto;
	text-align: center;
	padding-right: 2px;
}
.right{
	width:84.7%;
/* 	height:auto!important; */
/* 	min-height:500px; */
	height:90%;
	float:left;
	border-left: 1px solid #ccc;
}
.bottom{
	width:100%;
	height:3%;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	color: white;
	font-family: microSoft Yahei;
	font-size: 12px;
	line-height: 25px;
}
